.DS_Store
Thumbs.db
.vscode/
*.swp
/.gradle/
build/
app/build/
app/.cxx/
local.properties
*.iml
/.idea/
captures/
*.log
*.apk
*.aab
*.jks
*.keystore
vitalink-web/server/node_modules/
vitalink-web/server/.env
vitalink-web/server/.npmrc
*.tmp
*.bak
~*