.DS_Store
Thumbs.db
.vscode/
*.swp
/.gradle/
build/
app/build/
app/.cxx/
local.properties
*.iml
/.idea/
captures/
*.log
*.apk
*.aab
*.jks
*.keystore
vitalink/server/node_modules/
vitalink/server/.env
vitalink/server/.npmrc
*.tmp
*.bak
~*